.main {
  position: relative;
  .featuresTitle {
    width: 403px;
    height: 104px;
    margin: 0 auto;
    margin-bottom: 80px;
    p {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 600;
      font-size: 39px;
      line-height: 52px;
      text-align: center;
      letter-spacing: 0.007em;
      color: #fff;
    }
    span {
      color: #ffc759;
    }
  }

  .allFeaturesContainer {
    width: 1322px;
    height: 813px;
    font-family: 'Source Sans Pro';
    display: flex;
    flex-flow: column;
    align-items: center;
    background: linear-gradient(
      147.19deg,
      #362a87 -2.99%,
      #2c2747 82.25%,
      #4323f1 157.46%
    );
    padding-top: 81px;
    border-radius: 26px;

    .features {
      width: 90%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1.5px solid #e7e9f2;
    }
    .infoContainer {
      width: 100%;
      font-family: 'Source Sans Pro';
      color: #ffffff;
      display: flex;
      justify-content: space-evenly;
      padding: 0 30px;
      margin-top: 80px;
      position: relative;
      .infoBlock {
        p {
          max-width: 610px;
          font-style: normal;
          font-weight: 600;
          font-size: 37px;
          line-height: 52px;
          letter-spacing: 0.007em;
        }
        .listChecked {
          width: 180px;
          height: 156px;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
        }
        button {
          margin-top: 41px;
          padding: 15px 40px;
          background-color: #8276ff;
          color: #fff;
          border-radius: 31.0938px;
          border: none;
          font-family: 'Source Sans Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          letter-spacing: 0.02em;

          color: #ffffff;
        }
      }
      .formContainer {
        color: black;
        width: 444px;
        height: 300px;
        background: #fafafa;
        box-shadow: -2.02256px 2.02256px 17.5289px rgba(55, 67, 78, 0.05);
        border-radius: 6.74187px;

        .selectedContainer {
          display: flex;
          justify-content: space-around;
          position: relative;
          .total {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 276px;
            height: 31px;
            background: #ffffff;
            box-shadow: -0.674187px 8.09025px 10.787px -2.69675px rgba(71, 71, 71, 0.07);
            border-radius: 4.04512px;
            position: absolute;
            top: 15px;
            left: -18px;
            .time {
            }
            .info {
              width: 50px;
              border-right: 0.65px silver solid;
              &:last-child {
                border: none;
              }
              p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 7.41606px;
                line-height: 11px;
                color: #37434e;
              }
            }
          }
          .selectAll {
            margin-right: 29px;
            display: flex;
            align-items: center;
            button {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 7.41606px;
              line-height: 11px;
              color: #37434e;
              padding: 4px 3px;
              margin-right: 8px;
            }
            position: absolute;
            right: 0;
            top: 15px;
            .download {
              position: relative;
              width: 18.23px;
              height: 17.58px;
              border: 0.337094px solid #d3d3d3;
              border-radius: 2.69675px;
              display: flex;
              align-items: center;
              justify-content: center;
              svg:first-child {
                position: absolute;
                bottom: 4px;
              }
              svg:last-child {
                position: absolute;
                bottom: 6px;
              }
            }
          }
        }
        .dateBlock {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 57px;
          input {
            background: #ffffff;
            border: 0.337094px solid #d3d3d3;
            border-radius: 4.04512px;
            padding: 4px 10px;
            color: #495057;
          }
        }

        .launchContainer {
          margin-top: 17px;
          display: flex;
          justify-content: space-around;
          width: 100%;
          .launchBlock {
            .launch {
              width: 82px;
              height: 82px;
              .info {
                display: flex;
                justify-content: space-between;
                width: 82px;
                p {
                  font-family: 'Poppins';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 6.06769px;
                  line-height: 9px;
                  color: #37434e;
                }
              }
              .img {
                width: 82px;
                height: 62px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .color {
                width: 82px;
                height: 9px;
                background: #ffffff;
                box-shadow: 0px 0px 1.34837px rgba(0, 0, 0, 0.1);
                border-radius: 0px 0px 2.02256px 2.02256px;
                background: linear-gradient(
                  to right,
                  #ffbe5b 75%,
                  transparent 50%
                );
              }
              .svg {
                width: 82px;
                height: 62px;
                display: flex;
                justify-content: center;
                align-items: center;
                input {
                  display: none;
                }
                div {
                  width: 20px;
                  height: 22px;
                  svg {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
              .color2 {
                width: 82px;
                height: 9px;
                background: #ffffff;
                box-shadow: 0px 0px 1.34837px rgba(0, 0, 0, 0.1);
                border-radius: 0px 0px 2.02256px 2.02256px;
                background: linear-gradient(to right, red 25%, transparent 50%);
              }
            }
          }
        }

        .endBlock {
          display: flex;
          justify-content: space-around;
          margin-top: 24px;
          margin-bottom: 35px;
          .launchBlock {
            .launch {
              width: 82px;
              height: 82px;
              .info {
                display: flex;
                justify-content: space-between;
                width: 82px;
                p {
                  font-family: 'Poppins';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 6.06769px;
                  line-height: 9px;
                  color: #37434e;
                }
              }
              .svg {
                width: 82px;
                height: 62px;
                display: flex;
                justify-content: center;
                align-items: center;
                input {
                  display: none;
                }
                div {
                  width: 20px;
                  height: 22px;
                  svg {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
              .color3 {
                width: 82px;
                height: 9px;
                background: #ffffff;
                box-shadow: 0px 0px 1.34837px rgba(0, 0, 0, 0.1);
                border-radius: 0px 0px 2.02256px 2.02256px;
                background: linear-gradient(
                  to right,
                  #16cf96 85%,
                  transparent 50%
                );
              }
              .color4 {
                width: 82px;
                height: 9px;
                background: #ffffff;
                box-shadow: 0px 0px 1.34837px rgba(0, 0, 0, 0.1);
                border-radius: 0px 0px 2.02256px 2.02256px;
                background: linear-gradient(to right, red 25%, transparent 50%);
              }
            }
          }
        }
      }
    }
  }
}
